{#
/**
 * @file
 * Default theme implementation for event calendar.
 *
 * Available variables:
 * - events: Array of event entities.
 * - month: Current month number.
 * - year: Current year.
 *
 * @ingroup themeable
 */
#}
<div class="event-calendar">
  <div class="calendar-header">
    <a href="?month={{ month - 1 }}&year={{ year }}" class="prev-month">
      <i class="fas fa-chevron-left"></i>
    </a>
    <h2>{{ month|date('F') }} {{ year }}</h2>
    <a href="?month={{ month + 1 }}&year={{ year }}" class="next-month">
      <i class="fas fa-chevron-right"></i>
    </a>
  </div>
  
  <div class="calendar-grid">
    <div class="weekdays">
      <div>Sun</div>
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div>Sat</div>
    </div>
    
    <div class="days">
      {% set first_day = (year ~ '-' ~ month ~ '-01')|date('w') %}
      {% set days_in_month = (year ~ '-' ~ month ~ '-01')|date('t') %}
      
      {% for i in 0..(first_day - 1) %}
        <div class="day empty"></div>
      {% endfor %}
      
      {% for day in 1..days_in_month %}
        {% set date = year ~ '-' ~ month|format('%02d') ~ '-' ~ day|format('%02d') %}
        {% set day_events = [] %}
        
        {% for event in events %}
          {% if event.start_date|date('Y-m-d') == date %}
            {% set day_events = day_events|merge([event]) %}
          {% endif %}
        {% endfor %}
        
        <div class="day{{ day_events ? ' has-events' : '' }}{{ date == 'now'|date('Y-m-d') ? ' today' : '' }}">
          <div class="day-number">{{ day }}</div>
          
          {% if day_events %}
            <div class="day-events">
              {% for event in day_events|slice(0, 3) %}
                <a href="/event/{{ event.id }}" class="event-dot" 
                   title="{{ event.title }}" 
                   data-event-type="{{ event.event_type_id }}">
                  <span class="event-time">{{ event.start_date|date('g:i a') }}</span>
                  <span class="event-title">{{ event.title|truncate(25) }}</span>
                </a>
              {% endfor %}
              
              {% if day_events|length > 3 %}
                <div class="more-events">+{{ day_events|length - 3 }} more</div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  
  <div class="calendar-legend">
    <h3>Event Types</h3>
    <ul>
      <li class="legal-clinic"><span></span> Legal Clinic</li>
      <li class="cle-training"><span></span> CLE Training</li>
      <li class="volunteer-training"><span></span> Volunteer Training</li>
      <li class="fundraising"><span></span> Fundraising</li>
      <li class="community-outreach"><span></span> Community Outreach</li>
    </ul>
  </div>
</div>