{#
/**
 * @file
 * Template for donation confirmation page.
 *
 * Available variables:
 * - contribution: The contribution object with amount, date, etc.
 * - contact: The contact object with name and email
 * - is_recurring: Boolean indicating if this is a recurring donation
 */
#}
<div class="donation-confirmation">
  <div class="confirmation-header">
    <div class="success-icon">
      <svg width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
        <polyline points="22 4 12 14.01 9 11.01"></polyline>
      </svg>
    </div>
    <h1>{{ 'Thank You for Your Donation!'|t }}</h1>
  </div>

  <div class="confirmation-details">
    <p class="lead">{{ 'Dear @name, your generous donation has been received and will help us provide critical legal services to those in need.'|t({'@name': contact.display_name}) }}</p>
    
    <div class="donation-summary">
      <h2>{{ 'Donation Summary'|t }}</h2>
      <dl>
        <dt>{{ 'Amount'|t }}</dt>
        <dd>${{ contribution.total_amount|number_format(2) }}</dd>
        
        <dt>{{ 'Date'|t }}</dt>
        <dd>{{ contribution.receive_date|date('F j, Y') }}</dd>
        
        <dt>{{ 'Transaction ID'|t }}</dt>
        <dd>{{ contribution.trxn_id }}</dd>
        
        {% if is_recurring %}
        <dt>{{ 'Frequency'|t }}</dt>
        <dd>{{ 'Monthly'|t }}</dd>
        {% endif %}
      </dl>
    </div>
    
    <div class="tax-receipt-info">
      <h3>{{ 'Tax Receipt Information'|t }}</h3>
      <p>{{ 'A tax receipt has been emailed to @email. Idaho Legal Aid Services is a 501(c)(3) nonprofit organization. Our tax ID number is XX-XXXXXXX.'|t({'@email': contact.email}) }}</p>
      <p>{{ 'No goods or services were provided in exchange for this donation.'|t }}</p>
    </div>
    
    {% if is_recurring %}
    <div class="recurring-info">
      <h3>{{ 'Managing Your Recurring Donation'|t }}</h3>
      <p>{{ 'You can modify or cancel your recurring donation at any time by contacting us at donate@idaholegalaid.org.'|t }}</p>
    </div>
    {% endif %}
    
    <div class="next-steps">
      <h3>{{ 'Stay Connected'|t }}</h3>
      <p>{{ 'Follow us on social media to see the impact of your donation:'|t }}</p>
      <div class="social-links">
        <a href="#" class="social-link facebook">{{ 'Facebook'|t }}</a>
        <a href="#" class="social-link twitter">{{ 'Twitter'|t }}</a>
        <a href="#" class="social-link linkedin">{{ 'LinkedIn'|t }}</a>
      </div>
    </div>
    
    <div class="confirmation-actions">
      <a href="{{ url('<front>') }}" class="btn btn-primary">{{ 'Return to Homepage'|t }}</a>
      <a href="{{ url('ilas_payment.donate') }}" class="btn btn-secondary">{{ 'Make Another Donation'|t }}</a>
    </div>
  </div>
</div>