{#
/**
 * @file
 * Default theme implementation for report widget.
 *
 * Available variables:
 * - title: Widget title.
 * - value: Main metric value.
 * - change: Change amount.
 * - change_percent: Change percentage.
 * - trend: Trend direction (up/down).
 * - icon: Icon class.
 * - color: Color theme.
 * - link: Optional link URL.
 *
 * @ingroup themeable
 */
#}
<div class="report-widget widget-{{ color }}">
  <div class="widget-icon">
    <i class="fas {{ icon }}"></i>
  </div>
  <div class="widget-content">
    <h4 class="widget-title">{{ title }}</h4>
    <div class="widget-value">{{ value }}</div>
    
    {% if change is not null %}
      <div class="widget-change {{ trend }}">
        {% if trend == 'up' %}
          <i class="fas fa-arrow-up"></i>
        {% elseif trend == 'down' %}
          <i class="fas fa-arrow-down"></i>
        {% endif %}
        <span class="change-value">{{ change }}</span>
        {% if change_percent %}
          <span class="change-percent">({{ change_percent }}%)</span>
        {% endif %}
      </div>
    {% endif %}
  </div>
  
  {% if link %}
    <a href="{{ link }}" class="widget-more">
      <i class="fas fa-arrow-circle-right"></i>
    </a>
  {% endif %}
</div>